{{define "new-products"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
    <body>
        {{template "nav" .}}
        <div class="container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-5">New Product</h1>
                        <p class="lead">insert details </p>
                    </div>
                </div>
                <form method="POST" action="insert">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="nome">Name:</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="descricao">Description:</label>
                                <input type="text" name="description" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="preco">Price:</label>
                                <input type="text" id="preco" class="form-control" inputmode="numeric" placeholder="$0.00" autocomplete="off">
                                <input type="hidden" id="preco-valor" name="price">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="quantidade">Quantity:</label>
                                <input type="number" name="quantity" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="salvar" class="btn btn-success">Save</button>
                    <a class="btn btn-info" href="/">Return</a>
                </form>
        </div>
        <script>
            (function () {
                var display = document.getElementById('preco');
                var hidden = document.getElementById('preco-valor');

                function formatarDolar(centavos) {
                    return (centavos / 100).toLocaleString('en-US', { style: 'currency', currency: 'USD' });
                }

                display.addEventListener('input', function (e) {
                    var digitos = e.target.value.replace(/\D/g, '');
                    if (!digitos) {
                        e.target.value = '';
                        hidden.value = '';
                        return;
                    }
                    var centavos = parseInt(digitos, 10);
                    hidden.value = (centavos / 100).toFixed(2);
                    e.target.value = formatarDolar(centavos);
                });
            })();
        </script>
    </body>
</html>
{{end}}